body {
    background-color: #f2e1f8;
    padding: 40px;
    font-family: sans-serif;

}

h1 {
    text-align: center;

}

select {
    display: block;
    width: 100%;
    border-radius: 4px;
    padding: 10px;
   
    
}

.city {
    display: flex;
    justify-content: space-between;
}


.container {
    background-color: white;
    margin: 0 auto;
    max-width: 600px ;
    padding: 20px;
    border-radius: 10px;
}

footer {
    text-align: center;
}